html {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #222;
  color: white;

  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
}

#editor {
  height: 100%;
  width: 100%;

  & ul#preview,
  ol#preview {
    height: 60%;
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow-y: scroll;
    font-family: monospace;
    list-style-type: none;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-wrap: break-word;

    & li {
      display: inline-flex;
      /* padding: 10px; */
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
      border-bottom: 1px solid #666;

      margin-right: 0;
      margin-left: 0;
    }

    & span.content {
      margin-left: 0;
      margin-right: auto;
    }

    & span.metadata {
      width: 5em;
      padding-left: 2rem;
      margin-left: auto;
      margin-right: 0;
      text-align: right;
      white-space: pre-wrap;
      color: #666;
    }

    & span.party {
      color: #66e5ff;
    }

    & span.say {
      color: #f7f7f7;
    }

    & span.yell {
      color: #ffff00;
    }

    & span.shout {
      color: #ffa666;
    }

    & span.emote {
      color: #bafff0;
    }

    & span.tell {
      color: #ffb8de;
    }

    & span.freecompany {
      color: #abdbe5;
    }

    & span.linkshell {
      color: #d4ff7d;
    }

    & span.command {
      color: #f7f7f7;
    }

    & span.command:before {
      content: url("https://cdn.discordapp.com/emojis/435886977531772941.webp");
      display: inline-block;
      padding-right: 2px;
      padding-top: 1px;
      vertical-align: middle;
    }

    & span.command:after {
      content: url("https://cdn.discordapp.com/emojis/435886988764250133.webp");
      display: inline-block;
      padding-top: 1px;
      padding-left: 2px;
      vertical-align: middle;
    }

    & span.overlimit {
      color: red !important;
    }

    & span.copied {
      color: green !important;
    }

    & span.sending {
      color: gray !important;
    }

    & span.sent {
      color: lightskyblue !important;
    }
  }

  & #inputarea {
    & textarea {
      position: fixed;
      bottom: 2rem;
      width: 100%;
      height: 40%;
      box-sizing: border-box;
      outline: none;
      resize: none;
      font-family: monospace;
      font-size: 1rem;
    }

    #textbox {
      border: 3px solid #fff;
      border-left: none;
      border-right: none;
      border-bottom: none;
      width: 100%;
      padding: 1em;
      overflow-y: scroll;
      background-color: #333;
      color: white;
    }
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  padding: 0 0.5em;
  background-color: #eee;
  border-top: 1px solid silver;
  line-height: 2rem;
  color: gray;
  font-family: sans-serif;
  font-size: 85%;

  & #controls {
    float: right;
  }
}

#save a,
#open a {
  display: none;
  text-decoration: none;
}

#open > input {
  display: none;
}

#about {
  & form {
    text-align: right;
  }
}

#connect {
  & form {
    text-align: right;
  }
}

#help {
  & form {
    text-align: right;
  }
}

.navbar-icon {
  text-decoration: none;
  font-weight: bold;
}

@media print {
  nav {
    display: none;
  }
}
