:root {
  --p_deep: #121018;
  --p_dark: #1d1a28;
  --p_dim: #36324d;
  --p_shaded: #443e60;
  --p_lighter: #524a73;
  --p_bright: #695aa4;
  --p_contrast: #8f7be0;

  --chat_say: #f7f7f7;
  --chat_yell: #ffff00;
  --chat_tell: #ffb8de;
  --chat_party: #66e5ff;
  --chat_shout: #ffa666;
  --chat_emote: #bafff0;
  --chat_linkshell: #d4ff7d;
  --chat_freecompany: #abdbe5;
}

html {
  overflow: hidden;
  height: 100%;
}

label:has(> input) {
  cursor: pointer;
}

label input {
  display: none;
}

label span.radio {
  height: 10px;
  width: 10px;
  border: 1px solid var(--p_shaded);
  display: inline-block;
  position: relative;
  border-radius: 10px;
}

label span.checkbox {
  height: 10px;
  width: 10px;
  border: 1px solid var(--p_shaded);
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
  content: "\2714";
  position: absolute;
  top: -5px;
  left: 0;
}

body {
  /* background-color: #222; */
  background-color: var(--p_deep);
  color: white;

  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
}

#editor {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;

  & ul#preview,
  ol#preview {
    position: absolute;
    top: 0;
    left: 0;

    height: 60%;
    width: 100%;

    box-sizing: border-box;

    border: none;
    outline: none;
    resize: none;
    font-family: monospace;
    list-style-type: none;

    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0;

    scrollbar-width: thin;
    overflow-wrap: break-word;
    overflow-y: auto;
    margin: 0;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */

    & li {
      display: inline-flex;
      /* padding: 10px; */
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
      border-bottom: 1px solid var(--p_shaded);
      margin-right: 0;
      margin-left: 0;
    }

    & li:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & li:last-child {
      border-bottom: none;
    }

    & li.focused {
      & span.chat-preview {
        padding-left: 0.4rem;
      }
    }

    & li.focused:before {
      content: "";
      border: 0.3rem solid var(--p_lighter);
      font-size: xx-large;
      align-content: center;
    }

    & span.content {
      margin-left: 0;
      margin-right: auto;
    }

    & span.metadata {
      width: 5em;
      padding-left: 2rem;
      margin-left: auto;
      margin-right: 0;
      text-align: right;
      white-space: pre-wrap;
      color: var(--p_lighter);
    }

    & span.party {
      color: var(--chat_party);
    }

    & span.say {
      color: var(--chat_say);
    }

    & span.yell {
      color: var(--chat_yell);
    }

    & span.shout {
      color: var(--chat_shout);
    }

    & span.emote {
      color: var(--chat_emote);
    }

    & span.tell {
      color: var(--chat_tell);
    }

    & span.freecompany {
      color: var(--chat_freecompany);
    }

    & span.linkshell {
      color: var(--chat_linkshell);
    }

    & span.command {
      color: var(--chat_say);
    }

    & span.command:before {
      content: url("https://cdn.discordapp.com/emojis/435886977531772941.webp");
      display: inline-block;
      padding-right: 0;
      padding-left: 0;
      padding-top: 1px;
      vertical-align: middle;
    }

    & span.command:after {
      content: url("https://cdn.discordapp.com/emojis/435886988764250133.webp");
      display: inline-block;
      padding-top: 2px;
      padding-left: 0;
      padding-right: 0;
      vertical-align: middle;
    }

    & span.overlimit {
      color: red !important;
    }

    li:has(> span.copied) {
      background-color: var(--p_contrast);

      & span.copied {
        color: var(--p_dark);
      }

      & span.metadata {
        color: var(--p_dark);
      }
    }
  }

  & textarea {
    position: fixed;
    bottom: 2rem;
    width: 100%;
    height: calc(40% - 2rem);
    box-sizing: border-box;
    outline: none;
    resize: none;
    font-family: monospace;
    font-size: 1rem;
  }

  #textbox {
    border: 3px solid var(--p_shaded);
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 100%;
    padding: 1em;
    overflow-y: scroll;
    background-color: var(--p_dark);
    color: white;
    scrollbar-width: thin;
    overflow-y: auto;
  }
}

nav {
  position: fixed;
  box-sizing: border-box;

  left: 0;
  bottom: 0;
  /* line-height: 2rem; */

  width: 100%;
  height: 2rem;
  padding: 0.3rem 0.5em;

  font-family: sans-serif;

  color: var(--p_deep);
  background-color: var(--p_bright);
  border-top: 1px solid var(--p_shaded);

  & label.radio-container {
    border-left: 1px solid var(--p_shaded);
    padding-left: 0.5rem;
    padding-right: 0.2rem;
  }

  & label.radio-container:first-child {
    border: none;
    padding-left: 0;
  }

  & #controls {
    float: right;
  }

  & .navitem {
    border-right: 1px solid #36324d;
    margin-right: 0.5rem;
    padding-right: 0.2rem;
  }

  & a {
    color: var(--p_deep);
  }
}

#save a,
#open a {
  display: none;
  text-decoration: none;
}

#open > input {
  display: none;
}

#about {
  & form {
    text-align: right;
  }
}

dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  width: 50%;
  height: 500px;
}

.popup-modal {
  display: inline-flex;
  height: 99%;
  width: 99%;

  margin: 0;
  padding: 0;

  border: 2px solid var(--p_dim);
  border-radius: 10px;

  background-color: var(--p_dark);
  color: var(--p_bright);

  & span.close {
    display: inline-block;
    position: absolute;
    right: 0.6rem;
    top: 0.5rem;

    border-radius: 100%;
    height: 10px;
    width: 10px;

    border: 1px solid var(--p_bright);
    background-color: var(--p_bright);
  }

  & span.close:hover {
    background-color: var(--p_contrast);
    border-color: var(--p_contrast);
    cursor: pointer;
  }

  & .close {
    color: var(--p_deep);
    text-align: center;
    font-family: monospace;
    vertical-align: middle;
    font-size: 85%;
    line-height: 50%;

    margin: 0 auto;
    padding: 0;
  }

  & .modal-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--p_lighter);
    color: var(--p_dark);
    text-align: right;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    & span.option {
      padding: 0.3rem;
      margin: 0;
    }

    & span.option:first-child {
      border-top-left-radius: 10px;
    }

    & .option:hover {
      background-color: var(--p_bright);
      cursor: pointer;
    }
  }

  & .separater {
    border: 1px solid var(--p_dim);
    margin: 0;
    padding: 0;
  }

  & hr {
    border: 1px solid var(--p_dim);
    padding: 0;
    margin: 0;
  }

  & .page-content {
    color: var(--p_contrast);
    margin: 1rem;
    width: 100%;

    & h2 {
      text-align: left;
      color: var(--p_contrast);
      margin-top: auto;
    }

    & form {
      text-align: right;
    }

    & hr {
      border: 1px solid var(--p_dim);
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    & a {
      text-decoration: underline;
      font-style: italic;
      color: var(--p_contrast);
    }
  }
}

#settings-page {
  & .setting-container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;

    & .setting-name {
      font-family: monospace;
      align-content: left;
      width: auto;
    }

    & .setting-description {
      font-style: italic;
      font-size: 85%;

      text-justify: right;
      text-align: right;
    }

    & .setting-input {
      align-content: right;
      width: auto;
    }
  }
}

.navbar-icon {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

@media print {
  nav {
    display: none;
  }
}
